.container {
  display: flex;
}

.timeline {
  width: 25%;
  height: 60vh;
  margin: 2rem;
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  height: 5rem;
  font-weight: bolder;
}

.survey {
  flex: 1;
  padding: 2rem;
  padding-top: 4rem;
}
